*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

:root {
  --icon-size: 100px;
}

.match {
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.icons, .avatar {
  width: var(--icon-size);
  height: var(--icon-size);
  margin: 20px;
  padding: 10px;
  display: block;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player, .computer, .separator {
  min-width: var(--icon-size);
  min-height: var(--icon-size);
}

i {
  font-size: 4rem;
  padding: 10px;
}

.player {
  border: 1px dashed grey;
  border-radius: 50%;
  background-color: white;
}

.player > i {
  color: lightblue;
}

.player > i:hover {
  cursor: pointer;
  color: black;
}

.separator {
  background-repeat: no-repeat;
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@font-face {
  font-family: 'Digital-7';
  src: url('../fonts/digital-7.ttf');
}

.scoreboard {
  border: 1px dashed black;
}

.scoreboard > i {
  font-family: 'Digital-7';
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
}